.bar-pie-bubble-container{
    display: grid;
    grid-template-columns: 200px 300px 300px;
    align-items: start;
}

.tree-stack-container{
    display: grid;
    grid-template-columns: 900px 600px;
    align-items: start;
    max-height: fit-content;
}

.treemap {
    height: 530px;
}

.legend{
    padding-left: 20px;
    width: 250px;
    height: 30px;
    display: inline-block;

}

.treeHelper{
    padding-left: 150px;
}

.Video-Channel-Form{
    padding-left: 0px;
    margin: 0%;
    max-width: fit-content;
    display: inline-block;
}